.cards{
    /* flex-grow: 1; */
    flex-basis: 20rem;
    margin: 1rem;
    /* border: 1px solid black; */
    border-radius: 0.3rem;
    width: 20rem;
    height: auto;
    min-height: 29rem;
    background-color: lightcyan;
    padding: 0.3rem;
}

.cards:hover{
    box-shadow: 0 0 20px rgba(33,33,33,.2);
    cursor: pointer;
    color: #77cc00;
}

.img{
    height:20rem;
    width:20rem;
}

.name{
    height: 2.5rem;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    font-weight: bold;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.5rem;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

hr{
    margin: 0;

}

.calories, .ingredients{
    color: #77cc00;
    font-weight: bold;
}

.source{
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 10px;
    color: grey;
}

.source:hover{
    text-decoration: underline;
}