.cards {
    /* flex-grow: 1; */
    flex-basis: 20rem;
    margin: 1rem;
    /* border: 1px solid black; */
    width: 20rem;
    height: auto;
    min-height: 29rem;
    background-color: lightcyan;
    background-image: url('./images/table.jpg');
    /* background-image: url('./images/table.jpg') , linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
    /* background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    /* border-radius: 0.3rem; */
}

.cards:hover {
    box-shadow: 0.5rem 0.5rem 0.8rem #aaa;
    cursor: pointer;
    color: #FFEFD5;
}

.img {
    height: 20rem;
    width: 20rem;
}

.cardDetails{
    padding: 1rem;
    padding-top: 0rem;
}

.name {
    height: 2.5rem;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    font-weight: bold;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.5rem;
    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

hr {
    margin: 0;

}


.calories,
.ingredients {
    color: #FFEFD5;
    font-weight: bold;
    
}

/* a {
    text-align: left;
} */

.source {
    display: flex;
    /* to align text to left */
    margin-top: 0.5rem;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.source:hover {
    text-decoration: underline;
}