.sContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    /* background-color: #f2f2f2; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); */
    /* border: 1px solid black; */
}

.sCard{
    margin-top: 1rem !important;
    width: 100%;
    /* border: 1px solid black; */
    align-items: center;
    text-align: center;
    padding:0;
    margin:0;
}

.sImg{
    align-items: center;
    width:100%;
    /* border-radius: 25rem; */
}

.sTitle{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.sDiet{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.sNutrition{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
}

.sNutrition > p{
    margin:1rem;
    font-size: 1.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sNutrition>p>i, .sDiet>i{
    margin-right:0.3rem;
}

#text{
    margin-left: 0.3rem;
    text-transform:capitalize;
}


hr{
    height: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.sContent{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: top;
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* position: relative; */
    /* border: 1px solid black; */
    min-height: 27rem;
    /* height: auto; */
}

.sImage{
    position: relative;
    width:45%;
    align-items: center;
    justify-content: center;
    height: auto;
    /* border: 1px solid black; */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    transition: background 1s ease; 
}
.sImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    transition: opacity 0.3s ease; 
  }

  .sImage:hover::before{
    opacity: 0; /* Make the overlay transparent on hover */
  }

.sIngredient{
    width:55%;
    height: auto;
    /* border: 1px solid black; */
    text-align: left;
    font-size: 1.3rem;
    padding: 1rem;
    background-color: #F4F4F4;
    /* background-image: url('./images/table.jpg'); */
    background-image: url('./images/table.jpg') , linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: right;
    color: white;
}

ol>li{
    list-style-type: none;
    margin-top: 0.5rem;
}

a{
    color: white;
}