.cards{
    /* flex-grow: 1; */
    flex-basis: 20rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    width: 20rem;
    height: 20rem;
    background-color: lightcyan;
}